<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="_VS_One__Visio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <_VS_One__Visio.Properties.Settings>
            <setting name="DarkTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseDocument" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToolTipTime" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="UseHighLight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HightLightColor" serializeAs="String">
                <value>MistyRose</value>
            </setting>
            <setting name="IncludeStartText" serializeAs="String">
                <value>{
    "block_settings": {
        "speech_state_default_settings": {
            "allow_interruption_with_dtmf": false,
            "interrupt_phrases_total_length_chars": 20, /*Минимальное количество символов в сумме фраз для прерывания*/
            "interrupt_state": null,
            "interrupt_ignore_phrases_exact": [
                "[ага угу да ну здравствуйте а хорошо]+"
            ]
        },
        "listening_state_default_settings": {
            "silence_length_seconds": 4.0,  /*Интервал тишины (c)*/
            "noise_length_seconds": 15.0,   /*Интервал тишины/шума (c)*/
            "long_silence_state": null,
            "long_noise_state": null,

            "max_incomprehensible_phrases": 5, /*Количество непонятных фраз*/
            "max_incomprehensible_total_length_chars": 40, /*Длина непонятных фраз (символов)*/
            "incomprehensible_state": null,

            "undecoded_silence_threshold_seconds": 0.9, /*Порог тишины от распознавания (с)*/
            "abonent_phrase_start_after_robot_speaking_end_offset_seconds": 0.0, /*Отступ слушания от окончания речи (с)*/ 
        },
        "initial_state": "init",
    },
    "types": {},
    "objects": {
        "store": {
        },
        "parameters": {
            "abonent_timezone_delta": "int"
        }
    },    
    "enums": {
        "Result": {
            "not_dial":     "Недозвон",
            "disconnect":   "Конец разговора",
        }
    },
    "tts_phrases": {},           
    "phrases":  {
    },
    "special_states": [
        {
            "name": "init",
            "settings": { "long_silence_state": "init", "long_noise_state": "init" },
            "phrases_conditions": [
                {
                    "any_phrase": {},
                    "next_state": "init"
                }
            ]
        },
        {
            "name": "terminated",
            "conditions": [
                {
                    "dialog.result_set": true,
                    "next_state": "end",
                },
                {
                    "dialog.visited_state": { "start" : false },
                    "next_state": {
                        "name": "not_dial",
                        "type_result": "not_dial",
                        "next_state": "end"
                    }
                },
                {
                    "always_true": {},
                    "next_state": {
                        "name": "disconnect",
                        "type_result": "disconnect",
                        "next_state": "end"
                    }
                }
            ]
        },
    ],
    "global_listening_states": [
    ],
    "on_timer_states": [
        {
            "name": "global_time_stop",
            "when": {                   
                "dialog.call_time": { "ge": 300.0 }
            },
            "next_state": {
                "name": "check_result_global_time_stop",
                "conditions": [
                    {
                        "dialog.result_set": false,
                        "next_state": {
                            "name": "global_time_stop_fix_result",
                            "type_result": "disconnect",
                            "next_state": "end"
                        }
                    },
                    {
                        "always_true": {},
                        "next_state": "end"
                    }
                ],
            },          
        },
    ],
    "states": [
        {
            "name": "start",
            "type_result": "disconnect",
            "next_state": "end"
        }
    ],
}</value>
            </setting>
            <setting name="NeedValidateStates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseRedactorDarkTheme" serializeAs="String">
                <value>False</value>
            </setting>
        </_VS_One__Visio.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.CodeAnalysis" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.10.0.0" newVersion="3.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ScintillaNET" publicKeyToken="186712faa6314cea" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.7.0" newVersion="3.8.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>